<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrms.system.organization.mapper.DictDataMapper">

    <select id="selectByTypeCode" resultType="com.hrms.system.organization.entity.DictDataDO">
        SELECT *
        FROM sys_dict_data
        WHERE type_code = #{typeCode}
          AND is_deleted = 0
          AND status = 1
        ORDER BY sort_no
    </select>

</mapper>
