<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrms.system.organization.mapper.DictTypeMapper">

    <select id="selectByTypeCode" resultType="com.hrms.system.organization.entity.DictTypeDO">
        SELECT *
        FROM sys_dict_type
        WHERE type_code = #{typeCode}
          AND is_deleted = 0
        LIMIT 1
    </select>

</mapper>
